.background {
  background-color: rgb(248, 222, 246);
  height: auto;
}
.conteSua {
  margin-left: 25%;
  margin-top: 2%;
}
.form-control {
  display: block;
  width: 20%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-left: 43%;
}
.form-label {
  margin-left: 43%;
}
.descricao {
  margin-left: 22%;
}
.botaoCriar {
  margin-left: 49%;
  font-size: larger;
}
.descricao {
  margin-left: 9%;
}
