.Titulo {
  font-size: 60px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
  color: rgb(253, 253, 253);
  margin-left: 35%;
  word-spacing: 15px;
  position: absolute;
}

.navbarP {
  background-color: rgb(105, 3, 105);
  height: 95px;
}
.buttonHome {
  margin-left: 25%;
}
.button1 {
  margin-top: 22%;
}
.boasvindas {
  color: antiquewhite;
}
.icone {
  width: 500px;
}
