.Titulo {
  font-size: 60px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
  color: rgb(253, 253, 253);
  margin-left: 30%;
  word-spacing: 15px;
}
.Links {
  margin-left: -150%;
}
.navbar {
  background-color: rgb(105, 3, 105);
  height: 95px;
}
.navbar-nav {
  margin-bottom: 0;
  margin-left: -950%;
  list-style: none;
  align-content: stretch;
  justify-content: space-around;
  align-items: stretch;
  margin-left: -868%;
}
.span-bemvindo{
  color: white;
}




