.Titulo {
  font-size: 60px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
  color: rgb(253, 253, 253);
  margin-left: 40%;
  word-spacing: 15px;
  position: absolute;
}

.navbar {
  background-color: rgb(105, 3, 105);
  height: 95px;
}

.buttonA {
  margin-left: 2%;
  margin-top: -3%;
}
.buttonB {
  margin-left: -76%;
  margin-top: 3%;
}
.buttonC {
  margin-left: -95%;
}
