.Titulo {
  font-size: 60px;
  font-family: "Abril Fatface", cursive;
  text-align: center;
  color: rgb(253, 253, 253);
  margin-left: 40%;
  word-spacing: 15px;
  position: absolute;
}

.navbarP {
  background-color: rgb(105, 3, 105);
  height: 95px;
}

.buttonHome {
  margin-left: 2%;
  margin-top: -2%;
  position: absolute;
}
.buttonB {
  margin-left: 2%;
  margin-top: 3%;
  position: absolute;
}

.boasvindas {
  margin-left: 83%;
  margin-top: -1%;
  position: absolute;
  font-size: 22px;
}
.buttonChat {
  margin-left: 83%;
  margin-top: -1%;
  position: absolute;
  font-size: 25px;
}
