.postdiv {
  margin-right: 20%;
  margin-top: 2%;
}
.carddivs {
  width: 200px;
  margin-bottom: 1%;
}
.card {
  margin-left: 2%;
  margin-bottom: 1%;
  color: rgb(165, 11, 157);
  background-color: rgba(241, 149, 241, 0.863);
  border-radius: 2%;
}
.editar {
  color: #fff;
  margin-top: 27%;
  width: 45px;
  margin-left: 3%;
  margin-bottom: -5%;
}
.deletar {
  color: #fff;
  margin-top: 2%;
  width: 55px;
  margin-left: 91%;
}
.nickname {
  color: blueviolet;
  width: 115px;
  margin-left: 2%;
  margin-top: -1%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: baseline;
}
.idade {
  color: blueviolet;
  width: 115px;
  margin-left: 10%;
  margin-top: -7%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: baseline;
}
.estado {
  color: blueviolet;
  width: 142px;
  margin-left: 24%;
  margin-top: -7%;
  margin-bottom: 3%;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: baseline;
}
.card-text {
  color: #fff;
  margin-top: -2%;
  font-size: 32px;
  position: absolute;
  font-style: italic;
  width: 1062px;
}
p.card-text:before,
p.card-text:after {
  content: '"';
}
